.chatbox {
  border-width: medium;
  border-color: darkslategray;
  border-radius: 10px;
  transition: ease-in-out .15s;
  padding: 10px;
}

#incoming {
  border-style: solid solid dashed;
  padding-bottom: 15px;
}
#incoming:hover {}
#incoming:active {}

#outgoing {
  border-style: dashed solid solid;
  padding-top: 15px;
  float: none;
}
#outgoing:hover {}
#outgoing:active {}

#send {
  background-color: #08B;
  color: #DEF;
  font-size: xxx-large;
  padding: 10px 15px;
  border: solid #08B;
  border-radius: 15px;
  transition: ease-in-out .15s;
}

#send:hover {
  background-color: #DEF;
  color: #08B;
  border-radius: 10px;
}

#send:active {
  background-color: #06A;
  color: #FFF;
  border-radius: 0;
  border-color: #06A;
}
